{% extends "/layouts/_base.html" %}
{% set phaseBanner = 'true' %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% from "govuk/components/details/macro.njk" import govukDetails %}

    <h2 class="govuk-heading-l">
      Customise DWP KBV questions
    </h2>

    <p>Please choose 3 questions from <strong>one</strong> of the following areas for your user research participant.</p>

    {% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}

    {{ govukCheckboxes({
      name: "CIS questions",
      fieldset: {
        legend: {
          text: "CIS - Customer Information Service",
          isPageHeading: true,
          classes: "govuk-fieldset__legend--m"
        }
      },
      hint: {
        text: "Choose 3 options"
      },

      items: [
        {
          value: "carcasses",
          text: "What is your landline telephone number?"
        },
        {
          value: "mines",
          text: "What is your mobile telephone number?"
        },
        {
          value: "farm",
          text: "What is your eldest child's full name?"
        },
        {
          value: "4",
          text: "What is your partner's date of birth?"
        },
        {
          value: "5",
          text: "What is your partner's national insurance number?"
        }
      ]
    }) }}

    {{ govukCheckboxes({
      name: "PIP questions",
      fieldset: {
        legend: {
          text: "ESA - Employment Support Allowance",
          isPageHeading: true,
          classes: "govuk-fieldset__legend--m"
        }
      },
      hint: {
        text: "Choose 3 options"
      },

      items: [
        {
          value: "carcasses",
          text: "Waste from animal carcasses"
        },
        {
          value: "mines",
          text: "Waste from mines or quarries"
        },
        {
          value: "farm",
          text: "Farm or agricultural waste"
        },
        {
          value: "4",
          text: "Farm or agricultural waste"
        },
        {
          value: "5",
          text: "Farm or agricultural waste"
        }
      ]
    }) }}

    {{ govukCheckboxes({
      name: "PIP questions",
      fieldset: {
        legend: {
          text: "PIP - Personal Idenpendence Payment",
          isPageHeading: true,
          classes: "govuk-fieldset__legend--m"
        }
      },
      hint: {
        text: "Choose 3 options"
      },

      items: [
        {
          value: "carcasses",
          text: "Waste from animal carcasses"
        },
        {
          value: "mines",
          text: "Waste from mines or quarries"
        },
        {
          value: "farm",
          text: "Farm or agricultural waste"
        },
        {
          value: "4",
          text: "Farm or agricultural waste"
        },
        {
          value: "5",
          text: "Farm or agricultural waste"
        }
      ]
    }) }}

    <h2 class="govuk-heading-l">
      Your generated URLs
    </h2>

    <p>Flow here</p>

    {% from "govuk/components/button/macro.njk" import govukButton %}

    <div class="govuk-button-group">
      {{ govukButton({
        text: "Generate a web address"
      }) }}

      {{ govukButton({
        text: "Clear the form",
        classes: "govuk-button--secondary"
      }) }}
    </div>

    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

    <h2 class="govuk-heading-l">
      All question pages
    </h2>

    <p class="govuk-body">
      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a class="govuk-link" href="/cis-questions/index.html">CIS Questions</a>
        </li>
        <li>
          <a class="govuk-link" href="/esa-questions/index.html">ESA Questions</a>
        </li>
        <li>
          <a class="govuk-link" href="/pip-questions/index.html">PIP Questions</a>
        </li>
      </ul>
    </p>

    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

    <h2 class="govuk-heading-l">
      Dev ready pages
    </h2>

    <ul class="govuk-list govuk-list--bullet">
      <li>
        <a class="govuk-link" href="">Page link here</a>
      </li>
    </ul>

    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

    <h2 class="govuk-heading-l">
      Experiments
    </h2>

    <ul class="govuk-list govuk-list--bullet">
      <li>
        <p class="govuk-body">
          Content here
        </p>
      </li>
    </ul>

  </div>

  <div class="govuk-grid-column-full">

  <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

  <h2 class="govuk-heading-l">
    Iterations – previous UR
  </h2>

  <p class="govuk-body">
    <ul class="govuk-list govuk-list--bullet">
      <li>
        <a class="govuk-link" href="">Round 1</a>
      </li>
      <li>
        <a class="govuk-link" href="">Round 2</a>
      </li>
      <li>
        <a class="govuk-link" href="">Round 3</a>
      </li>
    </ul>
  </p>

  <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

  </div>
</div>

{% endblock %}
