{% extends "/layouts/_base.html" %}
{% set phaseBanner = 'true' %}

{% set title =  "Experian questions" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">{{title}}</h1>

      <p class="govuk-body">Experian questions are outside the scope of this prototype. This prototype journey is now at and end.</p>

    <p class="govuk-body"><a class="govuk-link" href="/index">Return to start</a></p>

    </div>
  </div>

{% endblock %}
