{% extends "/layouts/_base.html" %}
{% set phaseBanner = 'true' %}

{% set title =  "Find another way to prove your identity" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">{{title}}</h1>

      <p>
        We were not able to complete your identity check using security questions.
      </p>

      <h2 class="govuk-heading-m">
        If you do not have photo ID
      </h2>

      <p>
        You can try proving your identity with the service you need to use. They may take other types of ID.
      </p>

      <details class="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          Types of photos ID you can use
        </span>
      </summary>
      <div class="govuk-details__text">
        <p class="govuk-body">You can use a:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>UK photocard driving licence</li>
          <li>European Union (EU) photocard driving licence</li>
          <li>UK passport</li>
          <li>non-UK passport</li>
          <li>National identity card from a European Economic Area (EEA) country</li>
          <li>UK biometric residence permit (BRP)</li>
          <li>UK biometric residence card (BRC)</li>
          <li>UK Frontier Worker permit</li>
        </ul>
      </div>
      </details>

      <h2 class="govuk-heading-m">
        What would you like to do?
      </h2>

      <form action="" method="post" novalidate>

      {% from "govuk/components/radios/macro.njk" import govukRadios %}

      {{ govukRadios({
        name: "pip",
        fieldset: {
          legend: {
            text: "Do you get Personal Independence Payment (PIP)?",
            isPageHeading: false,
            classes: "govuk-fieldset__legend--m",
            classes: "govuk-visually-hidden"
          }
        },
        items: [
          {
            value: "go-to-service",
            text: "Got to the service you need to use and find out if they take other types of ID"
          },
          {
            value: "check-app",
            text: "Prove your identity with the GOV.UK Check app",
            hint: {
            text: "You’ll be shown how to download and use the app."
          }
          },
          {
            value: "post-office",
            text: "Prove your identity at the Post Office",
            hint: {
            text: "You'll be asked to enter details from your photo ID on GOV.UK first."
          }
          }
              ]
            }) }}

      {% from "govuk/components/button/macro.njk" import govukButton %}

      {{ govukButton({
        text: "Continue"
      }) }}

      </form>

      <p class="govuk-body">
        <a class="govuk-link" href="">Contact the GOV.UK One Login team (opens in new tab)</a>
      </p>

      <p class="govuk-body">
        <a class="govuk-link" href="photo-id-another-way-prove-your-identity">Alternate page with photo ID</a>
      </p>


    </div>
  </div>

{% endblock %}
