{% extends "/layouts/_base.html" %}
{% set phaseBanner = 'true' %}

{% set title =  "Answer security questions" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">{{title}}</h1>

      <p class="govuk-body">We use security questions as the last step in checking your identity.</p>

      <p class="govuk-body">The questions are about information that's personal to you. This stops other people from prestending to be you.</p>

      <p class="govuk-body">The questions use information from the Department for Work and Pensions (DWP).</p>

      <p class="govuk-body">You must answer enough questions correctly to prove your identity. You can then continue to the service you need to use.</p>

      <h2 class="govuk-heading-m">
        Before you start
      </h2>

      <p class="govuk-body">You'll need information from the bank or building society account that your PIP is paid into.</p>

      <p class="govuk-body">You can get this information from your:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>most recent statement</li>
        <li>online account or banking app</li>
      </ul>

      <p class="govuk-body">You may also need the letter from DWP saying that you were awared PIP.</p>

      <details class="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          How we use your details
        </span>
      </summary>
      <div class="govuk-details__text">
        We will not keep your answers to the security questions or share them with the service you need to use. If you'd like to know more about how your details will be used to prove your identity. <a class="govuk-link" href="">read our privacy policy (opens in a new window)</a>
      </div>
      </details>


      {% from "govuk/components/button/macro.njk" import govukButton %}

      {{ govukButton({
        text: "Continue",
        href: "/cis-questions/child-dob"
      }) }}

      <p class="govuk-body">
        <a href="#" class="govuk-link">I need to prove my identity another way.</a>
      </p>

    </div>
  </div>

{% endblock %}
