{% extends "/layouts/_base.html" %}
{% set phaseBanner = 'true' %}

{% set title =  "Do you get Personal Independence Payment (PIP)?" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">{{title}}</h1>

      <p>
        If you get PIP then we'll ask you security questions about your payments.
      </p>

      <p>
        If you do not get PIP or would prefer not to say then you'll need to prove your identity another way.
      </p>

      <p>
        We will not keep your answer to this question or share it with the service you need to use.
      </p>

      {% from "govuk/components/details/macro.njk" import govukDetails %}

    {{ govukDetails({
      summaryText: "What is PIP?",
      text: "PIP is a benefit paid to some people who have a long term health condition or disability."
    }) }}

      <form action="/pip-answer" method="post" novalidate>

      {% from "govuk/components/radios/macro.njk" import govukRadios %}

      {{ govukRadios({
        name: "pip",
        fieldset: {
          legend: {
            text: "Do you get Personal Independence Payment (PIP)?",
            isPageHeading: false,
            classes: "govuk-fieldset__legend--m",
            classes: "govuk-visually-hidden"
          }
        },
        items: [
          {
            value: "yes",
            text: "yes"
          },
          {
            value: "no",
            text: "no"
          },
          {
            divider: "or"
          },
          {
            value: "prefer-not-to-say",
            text: "prefer not to say"
          }
              ]
            }) }}

      {% from "govuk/components/button/macro.njk" import govukButton %}

      {{ govukButton({
        text: "Continue"
      }) }}

      </form>

    </div>
  </div>

{% endblock %}
