{% extends "/layouts/_base.html" %}
{% set phaseBanner = 'true' %}

{% set title =  "Find another way to prove your identity" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">{{title}}</h1>

      <p>
        We were not able to complete your identity check using security questions.
      </p>

      <h2 class="govuk-heading-m">
        What you can do
      </h2>

      <p>
        Based on what you've told us, you have a photo ID you can use to prove your identity.
      </p>

      <p>
        You can do this online with the GOV.UK Check app if you have:
      </p>

      <ul class="govuk-list govuk-list--bullet">
        <li>an iPhone 7 or higher</li>
        <li>an Android phone (for example, Samsung or Google Pixel)</li>
      </ul>

      <p>
        You can also prove your identity at a Post Office. This option takes longer. You'll usually get an outcome within a day of going to the Post Office.
      </p>

    <h2 class="govuk-heading-m">
      What would you like to do?
    </h2>

      <form action="/core/page-pre-dwp-kbv-transition" method="post" novalidate>

      {% from "govuk/components/radios/macro.njk" import govukRadios %}

      {{ govukRadios({
        name: "pip",
        fieldset: {
          legend: {
            text: "Do you get Personal Independence Payment (PIP)?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--m",
            classes: "govuk-visually-hidden"
          }
        },
        items: [
          {
            value: "check-app",
            text: "Prove your identity with the GOV.UK Check app",
            hint: {
            text: "You'll be shown how to download and use the app."
          }
          },
          {
            value: "post-office",
            text: "Prove your identity at the Post Office",
            hint: {
            text: "You'll be asked to enter details from your photo ID on GOV.UK first."
          }
          }
              ]
            }) }}

      {% from "govuk/components/button/macro.njk" import govukButton %}

      {{ govukButton({
        text: "Continue"
      }) }}

      </form>

      <p class="govuk-body">
        <a class="govuk-link" href="">Contact the GOV.UK One Login team (opens in new tab)</a>
      </p>

    </div>
  </div>

{% endblock %}
