{% extends "layouts/_base-one-login-welsh.html" %}
{% set phaseBanner = 'true' %}
{% set languageToggle = 'false' %}

{% set title =  "Mae'n ddrwg gennym, mae yna broblem gyda'r gwasanaeth" %}

{% block content %}
  <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
          <h1 class="govuk-heading-l">{{title}}</h1>

          <p class="govuk-body">
            Ni allwn brofi pwy ydych chi ar hyn o bryd.
          </p>

          <h2 class="govuk-heading-m">Beth allwch chi ei wneud</h2>

          <p class="govuk-body">
            Ewch yn &ocirc;l i'r gwasanaeth roeddech yn ceisio ei ddefnyddio a dechrau eto. Gallwch chwilio am y gwasanaeth gan ddefnyddio'ch peiriant chwilio neu ddod o hyd iddo o hafan GOV.UK.
          </p>

          {{ govukButton({
              text: "Ewch i hafan GOV.UK",
              href: "https://www.gov.uk"
          }) }}

          <p class="govuk-body">
            <a class="govuk-link" href="" target="_blank">Cysylltwch 	&acirc;'r t&icirc;m GOV.UK One Login (agor mewn tab newydd).</a>
          </p>

      </div>
  </div>
{% endblock %}
