{% extends "/layouts/_base.html" %}
{% set phaseBanner = 'true' %}

{% block pageTitle %}
  We need to check your details – {{ serviceName }} – GOV.UK One Login
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        We need to check your details
      </h1>

      <p class="govuk-body">Your details will be checked against informtion held by another organisation.</p>

      <p class="govuk-body">This will help us protoect you against online identity theft.</p>

      <details class="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          Who we check your details with
        </span>
      </summary>
      <div class="govuk-details__text">
        To help prove your identity, we ask questions using information from the services you use. To find out how your information will be used to prove your identity   <a class="govuk-link" href="">read our privacy notice (opens in new tab).</a>
      </div>
    </details>

      {% from "govuk/components/button/macro.njk" import govukButton %}

      {{ govukButton({
        text: "Continue",
        href: "you-need-to-answer-some-security-questions"
      }) }}

    </div>
  </div>

{% endblock %}
